{% if page["header image"] contains "cdn.siroop.ch" %}
  {% assign headerImage = page["header image"] %}
{% else %}
  {% assign headerImage = page["header image"] | prepend:site.baseurl %}
{% endif %}

<article class="Card">
  <div class="Card__media">
    <a href="{{ page.url | prepend: site.baseurl }}">
    <div class="ratio ratio--16x9 cover" style="background-image: url({{ headerImage }})">
    </div>
    </a>
  </div>
  <div class ="Card__info">
    <div class="Card__meta">
      <span class="caption"><time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time> <br> in {% include topic-indicator.liquid %} von {% include author-link.liquid %}
      </span>
    </div>
    <a class="u-block Card__title" href="{{ page.url | prepend: site.baseurl }}">
      <h1 class="u-inline headline">{{ page.title }}</h1>
      <h2 class="u-inline subheadline">{{ page.subtitle }}</h2>
    </a>
  </div>
</article>
