<article class="Card Card--small">
  <a class="Card__media" href="{{ mate.url | prepend: site.baseurl }}">
    <div class="ratio ratio--4x3" style="background-image: url({{ mate.avatar-image | prepend: site.baseurl }})">
    </div>
  </a>
  <div class="Card__info">
    <header>
      <h1><a href="{{ mate.url | prepend: site.baseurl }}">{{ mate.title }}</a></h1>
    </header>
    <p class="Card__excerpt">{{ mate.quote | remove: '<p>' | remove: '</p>' | truncate: 100 }}</p>
  </div>
</article>
