<section class="section">
  <div class="container">
    <ul class="list">
      {% for page in site.posts limit: 3 %}
        {% if page["header image"] contains "cdn.siroop.ch" %}
          {% assign headerImage = page["header image"] %}
        {% else %}
          {% assign headerImage = page["header image"] | prepend:site.baseurl %}
        {% endif %}
        <li class="list__item--spaced">
          <article class="Article-teaser Media {% cycle 'Media--ltr', 'Media--rtl' %}">
            <div class="Article-teaser__thumb Media__object">
              <a href="{{ page.url | prepend: site.baseurl }}">
                <div class="ratio ratio--16x9" style="background-image: url({{ headerImage }})"></div>
              </a>
            </div>
            <div class="Article-teaser__body Media__body">
              <a class="Article-teaser__link u-block" href="{{ page.url | prepend: site.baseurl }}">
                <h1 class="u-inline headline">{{ page.title }}</h1>
                <h2 class="u-inline subheadline">{{ page.excerpt | strip_html | truncatewords: 10 }}</h2>
              </a>
              <div class="caption">
                in {% include topic-indicator.liquid %} von {% include author-link.liquid %}
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
  <footer class="section__footer text-center">
    <a href="{{ site.baseurl }}/topics/" class="btn">Alle Artikel ansehen</a>
  </footer>
</section>
