{% assign gem = site.posts | first %}

{% if gem["header image"] contains "cdn.siroop.ch" %}
  {% assign headerImage = gem["header image"] %}
{% else %}
  {% assign headerImage = gem["header image"] | prepend:site.baseurl %}
{% endif %}

<div class="container">
  <section class="gem-preview" style="background-image:url({{ headerImage }})">
    <div class="gem__content">
      <aside class="gem__meta caption">
        am {{ gem.date | date_to_string }} in {{ gem.topic }}
      </aside>
      <h1 class="gem__title">
        <a class="gem__link" href="{{ gem.url }}">{{ gem.title }}</a>
      </h1>
      <a href="{{ gem.url }}" class="btn">weiterlesen</a>
    </div>
  </section>
</div>
