<ul class="main-nav-list">
    {% comment %}
    {% if include.context == "/" %}
      <li class="{% if page.url == "/" %}active{% endif %}">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
    {% endif %}
    {% endcomment %}
    {% assign entries = site.pages | sort: "url" %}
    {% for entry in entries %}
        {% unless entry.exclude %}
          {% unless entry.url == "/" %}
            <li class="main-nav-list__item">
              <a class="main-nav-list__url {% if page.url contains entry.url %}main-nav-list__url--active{% endif %}" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
            </li>
          {% endunless %}
        {% endunless %}
        {% comment %}
        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

        {% if current == include.context %}
            <li class="{% if page.url contains entry.url %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                {% include main-navigation.liquid context=entry.url %}
            </li>
        {% endif %}
        {% endcomment %}
    {% endfor %}
</ul>
