<nav class="navigation-holder" role="custom-dropdown">

  <input type="checkbox" id="navigation__toggle" class="navigation__checkbox">
  <label class="navigation__trigger" for="navigation__trigger" onclick>
    <span></span>
  </label>

  <ul class="main-nav-list">
  {% assign documents = site.pages | sort: "number" %}
  {% for document in documents %}
    {% unless document.is-excluded == true %}
      {% capture active %}{% if page.url == document.url %}main-nav-list__link--active{% endif %}{% endcapture %}
      <li class="main-nav-list__item">
      {% if document.url == "/"  %}
      <a class="main-nav-list__link {{ active }}" href="{{ "/" | prepend: site.baseurl }}">{{ document.title }}</a>
      {% else %}
      <a class="main-nav-list__link {{ active }}" href="{{ document.url | prepend:site.baseurl }}">{{ document.title }}</a>
      {% endif %}
      </li>
    {% endunless %}
  {% endfor %}
    <li class="main-nav-list__item">
      <a href="https://siroop.ch" class="btn main-nav-list__button">zum shop</a>
    </li>
  </ul>
</nav>
{% comment %}
  <ul class="social">
    <li><a href=""><span class="icon social_facebook"></span></a></li>
  </ul>{% endcomment %}
