<ul class="main-nav-list">
{% assign documents = site.pages | sort: "number" %}
{% for document in documents %}
  {% unless document.is-excluded == true %}
    {% capture active %}{% if page.url == document.url %}main-nav-list__url--active{% endif %}{% endcapture %}
    <li class="main-nav-list__item">
    {% if document.url == "/"  %}
    <a class="{{ active }}" href="{{ "/" | prepend: site.baseurl }}">{{ document.title }}</a>
    {% else %}
    <a class="{{ active }}" href="{{ document.url | prepend:site.baseurl }}">{{ document.title }}</a>
    {% endif %}
    </li>
  {% endunless %}
{% endfor %}
</ul>


{% comment %}
{% assign documents = site.pages | sort: "dir" %}

{% for document in documents %}
  {% unless document.is_excluded %}
    {% capture slug    %}{{ document.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ document.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
    {% if current == include.context %}
    <li>
      <a href="{{ document.url | prepend:site.baseurl }}">
        {% if page.url contains document.url %}
          <strong>{{ document.dir }}</strong>
        {% else %}
          {{ document.dir }}
        {% endif %}
      </a>
      <ul>
        {% include main-navigation.liquid context=document.dir %}
      </ul>
    </li>
    {% endif %}
  {% endunless %}
{% endfor %}
{% endcomment %}
