<article class="post-card">

  <div class="post-image-holder ratio ratio--16x9 spaced">
    {% if page["header image"] contains "cdn.siroop.ch" %}
      {% assign headerImage = page["header image"] %}
    {% else %}
      {% assign headerImage = page["header image"] | prepend:site.baseurl %}
    {% endif %}
    <a href="{{ page.url | prepend: site.baseurl }}">
      <img class="ratio-content" src="{{ headerImage }}" alt="">
    </a>
  </div>

  <div class="post-data">
    {% include topic-link.liquid %} /
    {{ page.date | date_to_string }} /
    {% include author-link.liquid %}
  </div>

  <a
  class="title title--h3"
  href="{{ page.url | prepend: site.baseurl }}">
    <span class="post-link">{{ page.title }}</span>
  </a>

  <div class="post-excerpt">
    {{ page.excerpt | markdownify | strip_html | truncate: 100 }}
    <a class="read-more-link" href="{{ page.url }}">lesen</a>
  </div>
</article>
