<article class="post-card">

  <div class="post-image-holder ratio ratio--16x9 spaced">
    {% if post["header image"] contains "cdn.siroop.ch" %}
      {% assign headerImage = post["header image"] %}
    {% else %}
      {% assign headerImage = post["header image"] | prepend:site.baseurl %}
    {% endif %}
    <a href="{{ post.url | prepend:site.baseurl }}">
      <img class="ratio-content" src="{{ headerImage | prepend:site.baseurl }}" alt="">
    </a>
  </div>

  <div class="post-data">
    <a href="/404">
    {{ post.categories | join: "" | capitalize }}</a> /
    {{ post.date | date_to_string }}
  </div>

  <a
  class="title title--h3"
  href="{{ post.url | prepend: site.baseurl }}">
    <span class="post-link">{{ post.title }}</span>
  </a>

  <div class="post-author">
    {% assign mates = site.mates | where:"title", post.mate %}
    {% for mate in mates %}
      {% unless mate.title == page.title %}
        von <a href="{{ mate.url | prepend:site.baseurl }}">{{ mate.title }}</a>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="post-excerpt">
    {{ post.excerpt | markdownify | strip_html | truncate: 120}}
  </div>
</article>




