    <article class="post">
      <div class="post-image-holder ratio ratio--16x9">
      <a href="{{ post.url | prepend:site.baseurl }}" class="ratio-content cover">
      {% if post["header image"] contains "cdn.siroop.ch" %}
          <img class="post-image" src="{{ post["header image"] }}" alt="">
      {% else %}
          <img class="post-image" src="{{ post["header image"] | prepend:site.baseurl }}" alt="">
      {% endif %}
      </a>
      </div>

      {% assign mates = site.mates | where:"title", post.mate %}

      <div class="post-meta">
        {% for mate in mates %}
          {% unless mate.title == page.title %}
            <span class="post-author"><a href="{{ mate.url | prepend:site.baseurl }}">{{ mate.title }}</a></span>
          {% endunless %}
        {% endfor %}
      </div>

      <div class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-excerpt">{{ post.excerpt | markdownify | strip_html | truncatewords: 15 }}</span>
      </div>

    </article>
