{% assign card = include %}

{{ card | first | inspect }}


{% comment %}<div class="Media">
  <div class="flex__item-0 Media__figure">
    <a class="link" href="{{ mate.url | prepend: site.baseurl }}">
      <img class="Avatar" src="{{ mate.image | prepend: site.baseurl }}" alt="{{ mate.title }}">
    </a>
  </div>
  <div class="flex__item-1 Media__body">
    <strong><a href="{{ mate.url }}">{{ mate.title }}</a></strong> <br>
    {{ mate.excerpt | truncate: 40 }}
  </div>
</div>
{% endcomment %}
