<!DOCTYPE html>
<html>
  {% include head.liquid %}
  <body>

  <div class="page-width">
    <div class="site-nav-bar">
      <a class="site-logotype" href="{{ site.baseurl }}/">

        <img class="site-logotype-img" src="{{ site.baseurl }}/assets/logo.png" alt="{{ site.name }} logo">
      </a>
      {% include main-navigation.liquid context="/" %}
    </div>
  </div>

  <div class="page">
    <main>
      {{ content }}
    </main>
  </div>
  {% include footer.liquid %}

  <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>

  <script src="{{ "/js/main.js" | prepend:site.baseurl }}"></script>
  </body>
</html>
