---
layout: default
---

{% for page in site.posts limit:1 %}

{% if page["header image"] contains "cdn.siroop.ch" %}
  {% assign headerImage = page["header image"] %}
{% else %}
  {% assign headerImage = page["header image"] | prepend:site.baseurl %}
{% endif %}
  <div class="ratio ratio--flex">
    <img class="ratio-content vertical-center" src="{{ headerImage }}" alt="">
    <div class="ratio-content post-wrap Aligner">
      <div class="Aligner--center-center">
        <div class="page-width">
          <a class="title title--h1 title--white" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a>
          <div class="post-data">
            {% include topic-link.liquid %} /
            {{ page.date | date_to_string }} /
            {% include author-link.liquid %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<section class="band">
  <div class="page-width">
    <div class="grid grid--flex grid--waffle">
      {% for page in site.posts offset:1 limit:3 %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-cta text-center">
    <a href="{{ site.baseurl }}/topics/" class="btn">Alle Artikel ansehen</a>
  </div>
</section>

{% if site.mates.size > 0 %}
<section class="band content--secondary">
  <div class="page-width">
    <h2 class="title title--separator title--h1">
      Die Shopping Mates
    </h2>
    <div class="grid grid--waffle">
    {% assign mates = site.mates | sort: 'position' %}
    {% for mate in mates %}
      {% if mate.image and mate.title and mate.url %}
      <div class="grid__item grid__item--1-3">

        <div class="Media User">
          <div class="Media__figure">
            <a class="link" href="{{ mate.url | prepend: site.baseurl }}">
            {% if mate.image != "avatar image max size 200kb " %}
              <img class="User__image Avatar" src="{{ mate.image | prepend: site.baseurl }}" alt="{{ mate.title }}">
            {% endif %}
            </a>
          </div>
          <div class="Media__body">
            <div class="User__name">
              <a class="link" href="{{ mate.url | prepend: site.baseurl }}">{{ mate.title }}</a>
            </div>
            <div class="User__intro small hyphenate">
              {{ mate.excerpt | truncate: 70 }}
            </div>
          </div>
        </div>

      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
