---
layout: default
---

{% for page in site.posts limit:1 %}

{% if page["header image"] contains "cdn.siroop.ch" %}
  {% assign headerImage = page["header image"] %}
{% else %}
  {% assign headerImage = page["header image"] | prepend:site.baseurl %}
{% endif %}
  <div class="ratio ratio--flex">
    <img class="ratio-content vertical-center" src="{{ headerImage }}" alt="">
    <div class="ratio-content post-wrap Aligner">
      <div class="Aligner--center-center">
        <div class="page-width">
          <a class="title title--h1 title--white" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a>
        </div>
      </div>
    </div>
  </div>

{% endfor %}


<section class="band">
<div class="page-width">
  <div class="grid grid--waffle">
    {% for page in site.posts offset:1 limit:3 %}
      <div class="grid__item grid__item--1-3">
        {% include post-card.liquid  %}
      </div>
    {% endfor %}
  </div>
</div>
</section>

{% if site.mates.size > 0 %}
<section class="band content--secondary">
  <div class="page-width">
    <h2 class="title title--separator title--h1">
      Die Shopping Mates
    </h2>
    <div class="grid grid--waffle">
    {% assign mates = site.mates | sort: 'position' %}
    {% for mate in mates %}
      {% if mate.image and mate.title and mate.url %}
      <div class="grid__item grid__item--1-3">

        <div class="Media User">
          <div class="Media__figure">
            <a class="link" href="{{ mate.url | prepend: site.baseurl }}">
              <img class="User__image Avatar" src="{{ mate.image | prepend: site.baseurl }}" alt="{{ mate.title }}">
            </a>
          </div>
          <div class="Media__body">
            <div class="User__name">
              <a class="link" href="{{ mate.url }}">{{ mate.title }}</a>
            </div>
            <div class="User__intro">
              {{ mate.excerpt | truncate: 70 }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
