---
layout: default
---
{% comment %}
    Banner with the first post
{% endcomment %}
{% for page in site.posts limit:1 %}
{% if page["header image"] contains "cdn.siroop.ch" %}
  {% assign headerImage = page["header image"] %}
{% else %}
  {% assign headerImage = page["header image"] | prepend:site.baseurl %}
{% endif %}
  <div class="ratio ratio--flex">
    <img class="ratio-content vertical-center" src="{{ headerImage }}" alt="">
    <div class="ratio-content post-wrap Aligner">
      <div class="Aligner--center-center">
        <div class="page-width">
          <a class="title title--h1 title--white" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a>
          <div class="post-data">
            {% include topic-indicator.liquid %} /
            {{ page.date | date_to_string }} /
            {% include author-link.liquid %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% comment %}
    section with 2 3 and 4 posts with button to the blog
{% endcomment %}

<section class="band">
  <div class="page-width">
    <div class="grid grid--flex grid--waffle">
      {% for page in site.posts offset:1 limit:3 %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-cta text-center">
    <a href="{{ site.baseurl }}/topics/" class="btn">Alle Artikel ansehen</a>
  </div>
</section>


<div class="page-width">
  <hr>
</div>

{% comment %}
    section floating profiles teaser
{% endcomment %}


<section class="band">
  <div class="page-width">
    <div class="mates-teaser grid__item--1-3">

    <h2 class="title title--separator title--h1">
      {{ site.mates.size }} Mates
    </h2>
    <p class="subheadline">
       glückliche shopping mates
    </p>
    <div class="floating-profiles">

      {% assign matesWithPosts = site.posts | group_by: "mate" %}

      {% for page in matesWithPosts limit:4 %}

        {% assign mate = site.mates | where:"title", page.name | first %}
          <div class="floating-profiles__item floating-profiles__item--{{ forloop.index }}">
            <div class="Avatar Avatar--huge" style="background-image: url({{ mate.image  | prepend:site.baseurl }})">
            </div>
          </div>

      {% endfor %}
    </div>
    </div>
  </div>
</section>

