---
layout: default
---

{% include gem.liquid %}

{% comment %}
    section with 2 3 and 4 posts with button to the blog
{% endcomment %}

<section class="band">
  <div class="page-width">
    <div class="grid grid--flex grid--waffle">
      {% for page in site.posts offset:1 limit:3 %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-cta text-center">
    <a href="{{ site.baseurl }}/topics/" class="btn">Alle Artikel ansehen</a>
  </div>
</section>

<hr>

<section class="band">
  <div class="page-width">
    <div class="grid__item--1-3">
    <div class="mates-teaser">

    <h2 class="title title--separator title--h1">
      {{ site.mates.size }} Mates <br>
      zum verlieben.
    </h2>

    <p class="subheadline">
       Unsere Mates berichten über ihre Zahlreiche shopping Erlebnisse.
    </p>
    <div class="floating-profiles">

      {% assign matesWithPosts = site.posts | group_by: "mate" %}

      {% for page in matesWithPosts limit:4  %}

        {% assign mate = site.mates | where:"title", page.name | first %}
          <div class="floating-profiles__item floating-profiles__item--{{ forloop.index }}">
            <div class="Avatar Avatar--huge" style="background-image: url({{ mate.image  | prepend:site.baseurl }})">
            </div>
          </div>

      {% endfor %}
    </div>
    <div class="">
      <a href="{{ site.baseurl }}/mates/" class="btn btn--link">Alle Mates</a>
    </div>
    </div>
    </div>
  </div>
</section>
