---
layout: default
---

<section class="section">
  <div class="container">
    <div class="profil clearfix">
      <div class="profil__bild">
        <img class="mate-image" src="{{ page.image | prepend: site.baseurl }}">
      </div>
      <div class="profil__info post__header">
      <h1 class="headline">{{ page.title }}</h1>
      <div class="article-content">
        {{ page.content | markdownify }}
      </div>

      <ul class=" list-inline social-link-list">
        {% for name in page["social usernames"] %}
          {% case name[0] %}
            {% when "facebook" %}
              {% if name[1] %}
              <li><a class="icon social_{{ name[0] }}" target="_blank" href="https://www.facebook.com/{{ name[1]}}"></a></li>
              {% endif %}
            {% comment %}
            {% when "twitter" %}
              {% if name[1] %}
                <li><a class="icon social_{{ name[0] }}" target="_blank" href="https://www.twitter.com/@{{ name[1]}}"></a></li>
              {% endif %}
            {% endcomment %}
            {% when "instagram" %}
              {% if name[1] %}
                <li><a class="icon social_{{ name[0] }}" target="_blank" href="https://www.instagram.com/{{ name[1]}}"></a></li>
              {% endif %}
            {% else %}
          {% endcase %}

        {% endfor %}
      </ul>

      </div>
    </div>
  </div>
</section>

{% if page.favourite-product.product-image %}

<section class="section">
  <div class="container">
    <div class="favourite-product">
    <div class="favourite-product-grid">
      <div class="product__image">
        <a href="{{ page.favourite-product.product-url }}">
          <img  src="{{ page.favourite-product.product-image }}">
        </a>
      </div>
      <div  class="product__description">
        {{ page.favourite-product.product-description | markdownify }}
      </div>
    </div>
    </div>
  </div>
</section>
{% endif %}

<section class="section">
  {% assign posts = site.posts | where: "mate", page.title %}
  <div class="container">
    <div class="grid grid--flex grid--waffle">
      {% for page in posts %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include mates-section.liquid title="Mates" list=site.mates %}
