---
layout: default
---

<div class="split-view">

  <div class="split cover" style="background-image: url({{ page.image | prepend: site.baseurl }})">
    {{ page.title }}
  </div>

  <div class="split scroll">
    <div class="container">
    {{ page.title }}
    <div class="post-content">
      {{ content | markdownify }}
    </div>
    {% assign posts = site.posts | where: "mate", page.title %}

    {% if posts.size > 0 %}
      <div>{{ page.title }} has written these posts </div>
      <ul class="loop">
        {% for post in posts %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>

  </div>
</div>


