---
layout: default
---

<div class="container">
  <div class="grid">
    <div class="grid__item grid__item--3-13">
      <img class="mate-image" src="{{ page.image | prepend: site.baseurl }}" alt="">
    </div>

    <div class="grid__item grid__item--5-13">
      <h1 class="Mate__name title title--separator title--h1">
        {{ page.title }}
      </h1>
      <div class="article-content">
        {{ page.content | markdownify }}
      </div>

    </div>

  </div>
</div>

{% assign posts = site.posts | where: "mate", page.title %}

<section class="band">
  <div class="page-width">
    <div class="grid grid--flex grid--waffle">
      {% for page in posts %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="band content--secondary">
  <div class="page-width">
    <h1 class="title title--separator">
      Weitere Mates
    </h1>
    <div class="grid grid-waffle">
    {% for mate in site.mates %}
      {% unless mate.title == page.title  %}
        <div class="grid__item grid__item--1-3">
          <a href="{{ mate.url | prepend: site.baseurl }}">{{ mate.title }}</a>
        </div>
      {% endunless %}
    {% endfor %}
    </div>
  </div>
</section>


