---
layout: default
---

<article class="post">

  <div class="post-image-holder ratio ratio--16x7 grey-bg">
    {% if post["header image"] contains "cdn.siroop.ch" %}
      {% assign headerImage = page["header image"] %}
    {% else %}
      {% assign headerImage = page["header image"] | prepend:site.baseurl %}
    {% endif %}
    <div class="ratio-content cover" style="background-image: url({{ headerImage }})">
      <header class="single-post-header page-width">
        <h1 class="title title--separator">
          {{ page.title }}
        </h1>
      </header>
    </div>
  </div>
  <div class="page-width">
{% comment %}
  <div class="post-meta">
    {% assign mates = site.mates | where:"title", page.mate %}
    {% for mate in mates %}
      {% unless mate.title == page.title %}
        <span class="post-author"><a href="{{ mate.url | prepend:site.baseurl }}">{{ mate.title }}</a></span>
      {% endunless %}
    {% endfor %}
  </div>
{% endcomment %}



  <div class="article__body" itemprop="articleBody">
    {% assign words = page.content  | number_of_words %}

      {{ words | divided_by: site.readingspeed }} mins

    {{ page.content | markdownify }}
  </div>

  <div class="box">
      {% if page.previous %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}">Previous</a>
      {% endif %}
      {{ page.collection }}
      {% if page.next %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">Next</a>
      {% endif %}
  </div>
</div>

</article>

