---
layout: default
---

<article class="post">
  {% include topic-link.liquid %}
  {% include author-link.liquid %}
  <div class="post-image-holder ratio ratio--16x7 grey-bg">
    {% if post["header image"] contains "cdn.siroop.ch" %}
      {% assign headerImage = post["header image"] %}
    {% else %}
      {% assign headerImage = post["header image"] | prepend:site.baseurl %}
    {% endif %}
    <div class="ratio-content cover" style="background-image: url({{ headerImage }})">
      <header class="single-post-header page-width">
        <h1 class="title title--separator">
          {{ page.title }}
        </h1>
      </header>
    </div>
  </div>
  <div class="page-width">

  <div class="article__body js-article__body">
    {{ page.content | markdownify }}
  </div>

  <div class="band grid">
      {% if page.previous %}
      <a class="prev" href="{{ page.previous.url | prepend: site.baseurl }}" rel="prev">Älter</a>
      {% endif %}

      {% if page.next %}
      <a class="next" href="{{ page.next.url | prepend: site.baseurl }}" rel="next">Neuer</a>
      {% endif %}
  </div>

</div>

</article>

<section class="band content--secondary">
  <div class="page-width">
  <h1 class="title title--separator title--h1">
    Ähnliche Beiträge
  </h1>


  <div class="grid grid--waffle">
    {% for page in site.related_posts limit:3 %}
      <div class="grid__item grid__item--1-3">
        {% include post-card.liquid  %}
      </div>
    {% endfor %}
  </div>
</div>
 </section>
