---
layout: default
---

<article class="post">

  <div class="post-image-holder ratio ratio--16x9">
    <div class="ratio-content cover">
    {% if post["header image"] contains "cdn.siroop.ch" %}
      <img class="post-image" src="{{ page["header image"] }}" alt="">
    {% else %}
      <img class="post-image" src="{{ page["header image"] | prepend:site.baseurl }}" alt="">
    {% endif %}
    </div>
  </div>

  {% assign mates = site.mates | where:"title", page.mate %}

  <div class="post-meta">
    {% for mate in mates %}
      {% unless mate.title == page.title %}
        <span class="post-author"><a href="{{ mate.url | prepend:site.baseurl }}">{{ mate.title }}</a></span>
      {% endunless %}
    {% endfor %}
  </div>

  <h1 class="post-title">
    {{ page.title }}
  </h1>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

